In [2]:
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [17]:
data_inicial= '2019-10-14'
Stbp3= yf.download('STBP3.SA',  start= data_inicial)
display(Stbp3)

[*********************100%***********************]  1 of 1 completed

             Open   High   Low  Close  Adj Close   Volume
Date
2019-10-14   6.49   6.89  6.48   6.84   5.963434  3026400
2019-10-15   6.85   7.11  6.72   6.72   5.858812  3688800
2019-10-16   6.75   7.11  6.73   7.08   6.172677  2352600
2019-10-17   7.10   7.30  7.05   7.17   6.251143  3259000
2019-10-18   7.17   7.36  7.02   7.23   6.303454  2343700
...           ...    ...   ...    ...        ...      ...
2023-07-19   9.97   9.97  9.74   9.89   9.890000  1866700
2023-07-20   9.91   9.95  9.65   9.86   9.860000  3582400
2023-07-21   9.82  10.10  9.76  10.03  10.030000  2271700
2023-07-24  10.11  10.15  9.94  10.01  10.010000  1947200
2023-07-25  10.08  10.21  9.92   9.96   9.960000  2470700

[938 rows x 6 columns]

In [18]:
# Renomear as colunas
stbp3 = Stbp3.rename(columns={
    'Open': 'Abertura',
    'High': 'Maior',
    'Low': 'Menor',
    'Close': 'Fechamento',
    'Adj Close': 'Fechamento Ajustado',
    'Volume': 'Volume'
})

# Atribuir novos nomes diretamente Ã s colunas
stbp3.columns = ['Abertura', 'Maior', 'Menor', 'Fechamento', 'Fechamento Ajustado', 'Volume']
stbp3 = stbp3.round(2)

display(stbp3)

            Abertura  Maior  Menor  Fechamento  Fechamento Ajustado   Volume
Date
2019-10-14      6.49   6.89   6.48        6.84                 5.96  3026400
2019-10-15      6.85   7.11   6.72        6.72                 5.86  3688800
2019-10-16      6.75   7.11   6.73        7.08                 6.17  2352600
2019-10-17      7.10   7.30   7.05        7.17                 6.25  3259000
2019-10-18      7.17   7.36   7.02        7.23                 6.30  2343700
...              ...    ...    ...         ...                  ...      ...
2023-07-19      9.97   9.97   9.74        9.89                 9.89  1866700
2023-07-20      9.91   9.95   9.65        9.86                 9.86  3582400
2023-07-21      9.82  10.10   9.76       10.03                10.03  2271700
2023-07-24     10.11  10.15   9.94       10.01                10.01  1947200
2023-07-25     10.08  10.21   9.92        9.96                 9.96  2470700

[938 rows x 6 columns]

taxa simples de retorno diÃ¡rio

In [19]:
stbp3['retorno_simples']= (stbp3['Fechamento Ajustado'] / stbp3['Fechamento Ajustado'].shift(1)) -1
print(stbp3['retorno_simples'])

Date
2019-10-14         NaN
2019-10-15   -0.016779
2019-10-16    0.052901
2019-10-17    0.012966
2019-10-18    0.008000
                ...
2023-07-19   -0.007028
2023-07-20   -0.003033
2023-07-21    0.017241
2023-07-24   -0.001994
2023-07-25   -0.004995
Name: retorno_simples, Length: 938, dtype: float64

In [20]:
retorno_dia= stbp3['retorno_simples'].mean()

In [21]:
# 250 porque nÃ£o sao todos os dias que se tem negociaÃ§Ã£o na B3
retorno_ano= stbp3['retorno_simples'].mean()*250

In [30]:
# o 2 represente que sÃ³ quero duas casas decimais 
print(f"O retorno da aÃ§Ã£o Santos Brasil anual Ã© de {round(retorno_ano* 100, 2)}%")

O retorno da aÃ§Ã£o Santos Brasil anual Ã© de 13.7%

taxa de retorno logaritmico

In [23]:
stbp3.head()

,Abertura,Maior,Menor,Fechamento,Fechamento Ajustado,Volume,retorno_simples
Date,,,,,,,
2019-10-14,6.49,6.89,6.48,6.84,5.96,3026400,NaN
2019-10-15,6.85,7.11,6.72,6.72,5.86,3688800,-0.016779
2019-10-16,6.75,7.11,6.73,7.08,6.17,2352600,0.052901
2019-10-17,7.10,7.30,7.05,7.17,6.25,3259000,0.012966
2019-10-18,7.17,7.36,7.02,7.23,6.30,2343700,0.008000

In [41]:
# log=fechamento final / fechamento inicial
stbp3['retorno_log']= np.log(stbp3['Fechamento Ajustado'] / stbp3['Fechamento Ajustado'].shift(1))
print(stbp3['retorno_log'])

Date
2019-10-14         NaN
2019-10-15   -0.016921
2019-10-16    0.051549
2019-10-17    0.012883
2019-10-18    0.007968
                ...
2023-07-19   -0.007053
2023-07-20   -0.003038
2023-07-21    0.017094
2023-07-24   -0.001996
2023-07-25   -0.005008
Name: retorno_log, Length: 938, dtype: float64

In [38]:
retorno_ano= stbp3['retorno_log'].mean()*250
print(f' O retorno anual Ã© de {round(retorno_ano *100, 2)}%')

 O retorno anual Ã© de 13.7%