In [1]:
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

In [2]:
data_inicial= '2019-10-14'
Stbp3= yf.download('STBP3.SA',  start= data_inicial)
display(Stbp3)

[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close  Adj Close   Volume
Date
2019-10-14  6.49  6.89  6.48   6.84   5.963435  3026400
2019-10-15  6.85  7.11  6.72   6.72   5.858812  3688800
2019-10-16  6.75  7.11  6.73   7.08   6.172677  2352600
2019-10-17  7.10  7.30  7.05   7.17   6.251143  3259000
2019-10-18  7.17  7.36  7.02   7.23   6.303453  2343700
...          ...   ...   ...    ...        ...      ...
2023-07-31  9.72  9.81  9.61   9.61   9.610000  3993400
2023-08-01  9.57  9.76  9.48   9.59   9.590000  4251000
2023-08-02  9.59  9.63  9.50   9.57   9.570000  2054900
2023-08-03  9.60  9.63  9.41   9.52   9.520000  4054600
2023-08-04  9.58  9.97  9.56   9.88   9.880000  4032500

[946 rows x 6 columns]

In [3]:
# Renomear as colunas
stbp3 = Stbp3.rename(columns={
    'Open': 'Abertura',
    'High': 'Maior',
    'Low': 'Menor',
    'Close': 'Fechamento',
    'Adj Close': 'Fechamento Ajustado',
    'Volume': 'Volume'
})

# Atribuir novos nomes diretamente Ã s colunas
stbp3.columns = ['Abertura', 'Maior', 'Menor', 'Fechamento', 'Fechamento Ajustado', 'Volume']
stbp3 = stbp3.round(2)

display(stbp3)

            Abertura  Maior  Menor  Fechamento  Fechamento Ajustado   Volume
Date
2019-10-14      6.49   6.89   6.48        6.84                 5.96  3026400
2019-10-15      6.85   7.11   6.72        6.72                 5.86  3688800
2019-10-16      6.75   7.11   6.73        7.08                 6.17  2352600
2019-10-17      7.10   7.30   7.05        7.17                 6.25  3259000
2019-10-18      7.17   7.36   7.02        7.23                 6.30  2343700
...              ...    ...    ...         ...                  ...      ...
2023-07-31      9.72   9.81   9.61        9.61                 9.61  3993400
2023-08-01      9.57   9.76   9.48        9.59                 9.59  4251000
2023-08-02      9.59   9.63   9.50        9.57                 9.57  2054900
2023-08-03      9.60   9.63   9.41        9.52                 9.52  4054600
2023-08-04      9.58   9.97   9.56        9.88                 9.88  4032500

[946 rows x 6 columns]

taxa simples de retorno diÃ¡rio

In [4]:
# Aqui, stbp3['Fechamento Ajustado'] representa a sÃ©rie temporal dos preÃ§os de fechamento ajustados do ativo (ou a sÃ©rie temporal que vocÃª deseja calcular os retornos). O uso de shift(1) desloca essa sÃ©rie uma posiÃ§Ã£o para cima, o que significa que estamos usando os preÃ§os de fechamento ajustados do dia anterior (t-1). Ao dividir os preÃ§os de fechamento atuais pelos preÃ§os de fechamento do dia anterior e subtrair 1, estamos calculando o retorno simples diÃ¡rio em termos percentuais.
stbp3['retorno_simples']= (stbp3['Fechamento Ajustado'] / stbp3['Fechamento Ajustado'].shift(1)) -1
print(stbp3['retorno_simples'])

Date
2019-10-14         NaN
2019-10-15   -0.016779
2019-10-16    0.052901
2019-10-17    0.012966
2019-10-18    0.008000
                ...
2023-07-31   -0.010299
2023-08-01   -0.002081
2023-08-02   -0.002086
2023-08-03   -0.005225
2023-08-04    0.037815
Name: retorno_simples, Length: 946, dtype: float64

In [5]:
retorno_dia= stbp3['retorno_simples'].mean()

In [6]:
# 250 porque nÃ£o sao todos os dias que se tem negociaÃ§Ã£o na B3
retorno_ano= stbp3['retorno_simples'].mean()*250

In [7]:
# o 2 representa que sÃ³ quero duas casas decimais 
print(f"O retorno da aÃ§Ã£o Santos Brasil anual Ã© de {round(retorno_ano* 100, 2)}%")

O retorno da aÃ§Ã£o Santos Brasil anual Ã© de 27.32%

taxa de retorno logaritmico

In [8]:
stbp3.head()

,Abertura,Maior,Menor,Fechamento,Fechamento Ajustado,Volume,retorno_simples
Date,,,,,,,
2019-10-14,6.49,6.89,6.48,6.84,5.96,3026400,NaN
2019-10-15,6.85,7.11,6.72,6.72,5.86,3688800,-0.016779
2019-10-16,6.75,7.11,6.73,7.08,6.17,2352600,0.052901
2019-10-17,7.10,7.30,7.05,7.17,6.25,3259000,0.012966
2019-10-18,7.17,7.36,7.02,7.23,6.30,2343700,0.008000

In [9]:
# log=fechamento final / fechamento inicial
stbp3['retorno_log']= np.log(stbp3['Fechamento Ajustado'] / stbp3['Fechamento Ajustado'].shift(1))
print(stbp3['retorno_log'])

Date
2019-10-14         NaN
2019-10-15   -0.016921
2019-10-16    0.051549
2019-10-17    0.012883
2019-10-18    0.007968
                ...
2023-07-31   -0.010352
2023-08-01   -0.002083
2023-08-02   -0.002088
2023-08-03   -0.005238
2023-08-04    0.037118
Name: retorno_log, Length: 946, dtype: float64

In [10]:
retorno_ano= stbp3['retorno_log'].mean()*250
print(f' O retorno anual Ã© de {round(retorno_ano *100, 2)}%')

 O retorno anual Ã© de 13.37%